@model VCS.Models.Video
<div>
    <table class="table">
        <tr>
            <th>Name</th>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <th>Duration</th>
            <td>@Model.Duration</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>@Model.Size</td>
        </tr>
        <tr>
            <th>Resolution</th>
            <td>@Model.Resolution</td>
        </tr>
        <tr>
            <th>Container</th>
            <td>@Model.Container</td>
        </tr>
        <tr>
            <th>Video Codec</th>
            <td>@Model.Video_Codec</td>
        </tr>
        <tr>
            <th>Audio Codec</th>
            <td>@Model.Audio_Codec</td>
        </tr>
    </table>
</div>
