@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IEnumerable<VCS.ViewModel.ListViewModel>

<div class="form-actions no-color">
    <form action="/search/results" method="post">
        <p>
            <lable for="searchTerm">Find by tag: </lable>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>
    </form>
</div>


@if (ViewBag.videos == null)
{
    <p>OOPS! No videos yet!</p>
}
else
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Channel</th>
                <th>Date</th>
                <th>Tag</th>
            </tr>
            @foreach (var video in Model)
            {
                <tr>
                    <td>@video.Title</td>
                    <td>@video.Channel</td>
                    <td>@video.Date</td>
                    <td>@video.TagText</td>
                    <td><a asp-controller="Video" asp-action="Detail" asp-route-id=@video.VideoId>Detail</a></td>
                    <td><a asp-controller="Video" asp-action="Edit" asp-route-id=@video.VideoId>Edit</a></td>
                    <td><a asp-controller="Video" asp-action="Play" asp-route-id=@video.VideoId>Play</a></td>
                </tr>

            }


        </table>
    </div>
}


@section Scripts{
    <script>// Workaround to fix style of text for showing items .. through ..
        // Problem related to Boostrap 4 according to issue in link below
        // https://github.com/dncuug/X.PagedList/issues/127
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });</script>
}